
:root {
    font-size: 62.5%;
    color:#0a0602;
    line-height: 1.5;

    --color-d5: #290207;
    --color-d4: #61131C;
    --color-d3: #881427;
    --color-d2: #9a4039;
    --color-d1: #A85846;
    --color-l1: #E3C281;
    --color-l2: #f5f5dc;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
    font-size: clamp(1.6rem, calc(1.6rem + 2vw), 3.2rem);
    text-align: center;
    color: #0a0602a9;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-size: clamp(1.2em, calc(1.2em + 2vw), 2.4rem);
    font-family:monospace;
    font-weight: 600;
    color: var(--color-d4);
    margin: 0;
    border-top: .8rem solid #E3C281;
    border-bottom: .8rem solid var(--color-l1);
    align-self: center;
}

h2#offer {
    border-bottom: .8rem solid var(--color-d4);
}

h3 {
    font-size: clamp(1.4rem, calc(1.3rem + 1vw), 1.8rem);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:500;
    margin: clamp(.8rem, 2vw, 1.2rem)
            clamp(0rem, 0vw, 0rem);
}

p {
    font-size: clamp(1rem, calc(1rem + 2vw), 1.2rem);
    padding: 1.2rem 0 .2rem 0;
}

.navbar, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    color: var(--color-l2);
    background-color: var(--color-d5);
    width: 100vw;
}

.home {
    padding: 0 1.2rem;
    height: clamp(20rem, calc(20rem + 5vh), 60rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home, .section {
    padding: clamp(0rem, 0rem, 0rem)
            clamp(1.8rem, calc(1.8rem + 6vw), 6rem);
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(2.4rem, calc(2.4rem + 6vh), 3.2rem);
    flex-wrap: wrap;
    max-width: 120rem;
}

.card, .message-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    border: .1rem solid #e3c2812c;
    width: clamp(16rem, calc(12rem + 5vw),24rem);
    height: clamp(20rem, calc(20rem + 3vh), 28rem);
    border-radius: 1.6rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    padding: clamp(2rem, calc(2rem + 2vh), 2.8rem)
            clamp(.8rem, calc(.8rem + 1vh), 1.2rem);
    background-color: rgba(206, 227, 255, 0.27);
    border-bottom: .1rem solid var(--color-l1);
}

button {
    padding: 1.2rem 2.4rem;
    margin-top: clamp(0.8rem, calc(1.5vh), 2.4rem);
    border: .15rem solid var(--color-d3);
    border-radius: .8rem;
    max-width: 12rem;
    color: var(--color-d5);
}

.image-box {
    max-width: 40rem;
}

.image-box img {
    height: 1.2rem;
    width: 100%;
}

.footer {
    height: clamp(2rem, calc(1rem + 2vh), 4rem);
    margin-top: clamp(5.6rem, calc(5.6rem + 2.5vh), 7.2rem);
}
